@import '../../../scss/utils';

.MovieReviews{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    .MovieReviews-add-review-card{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 20px 0;
        border-radius: 50px;
        width: 95%;
        height: 400px;
        -webkit-box-shadow: 0px 0px 35px -8px rgba(138,138,138,0.38);
        -moz-box-shadow: 0px 0px 35px -8px rgba(138,138,138,0.38);
        box-shadow: 0px 0px 35px -8px rgba(138,138,138,0.38);
        form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 92%;
            height: 90%;
            .form-rating{
                display: flex;
                align-items: center;
                margin: 10px 0 0 0;
                .form-rating-feedback{
                    border-bottom: 2px solid $primaryColorLighter;
                    padding: 0 5px;
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
            input{
                font-weight: 500;
                font-size: 16px;
                background: none;
                color: inherit;
                border: none;
                padding: 4px 15px;
                cursor: pointer;
                outline: inherit;
                border-bottom: 2px solid $primaryColorLighter;
                margin-bottom: 10px;
            }
            textarea{
                // color: white;
                font-size: 16px;
                padding: 15px;
                background: none;
                resize: none;
                // border: 1px solid $primaryColorLighter;
                border: none;
                border-radius: 15px;
                outline: none;
                -webkit-box-shadow: inset 0px 0px 6px -2px rgba(0,0,0,0.40);
                -moz-box-shadow: inset 0px 0px 6px -2px rgba(0,0,0,0.40);
                box-shadow: inset 0px 0px 6px -2px rgba(0,0,0,0.40);
            }
          

            .form-submit{
                display: flex;
                align-self: flex-end;
                align-items: center;
                button{
                    align-self: center;
                    margin-left: 10px;
                    font-weight: 500;
                    opacity: 0.95;
                    color: white;
                    background-color: $secondaryColor;
                    padding: 8px 6px;
                    border-radius: 15px;
                    &:hover{
                        background-color: $primaryColorLighter;
                    }
                }
            }
        }
    }


    .MovieReviews-title-and-add{
        display: flex;
        margin-bottom: 25px;
        justify-content: space-between;
        .MovieReviews-title{
            display: flex;
            align-items: center;
            h2{
                display: flex;
                align-items: center;
                height: 100%;
            }
            span{
                font-weight: 500;
                border-radius: 10px;
                padding: 0 12px;
                border: 2px solid $primaryColor;
                margin-left: 10px;
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 16px;
            }
            select{
                outline: none;
                margin-left: 10px;
            }
        }
        button{
            font-weight: 500;
            opacity: 0.95;
            color: white;
            background-color: $secondaryColor;
            padding: 8px 6px;
            align-self: center;
            border-radius: 15px;
            &:hover{
                background-color: $primaryColorLighter;
            }
        }
    }
    .selected-review{
        border: 2px solid $primaryColor;
    }

    .MovieReviews-review-card{
        margin: 20px 0;
        border-radius: 50px;
        width: 100%;
        -webkit-box-shadow: 0px 0px 35px -8px rgba(138,138,138,0.38);
        -moz-box-shadow: 0px 0px 35px -8px rgba(138,138,138,0.38);
        box-shadow: 0px 0px 35px -8px rgba(138,138,138,0.38);
        display: flex;
        align-items: center;
        // justify-content: center;
        
        .MovieReviews-review-card-container{
            margin: 30px 0;
            display: flex;
            width: 98%;
            height: 94%;
            .MovieReviews-review-card-profile{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 8%;
                .MovieReviews-review-card-date{
                    margin-top: 8px;
                    span{
                        font-size: 12px;
                    }
                }
                .MovieReviews-profile-photo{
                    width: 70%;
                    height: auto;
                    img{
                        border-radius: 50%;
                        max-width: 100%;
                        max-height: auto;
                    }
                }
                
            }

            .MovieReviews-review-card-content{
                width: 86%;
               
                .MovieReviews-review-content-user{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    font-size: 20px;
                    font-weight: 500;
                    a{
                        color: $primaryColorLighter;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    .MovieReviews-content-user-rating{
                        display: flex;
                        margin-left: 10px;
                        font-size: 18px;
                    }
                    .MovieReviews-content-user-edit{
                        font-size: 12px;
                        margin-left: 5px;
                        color: gray;
                    }
                }
                .MovieReviews-review-content-body{
                    line-height: 1.7;
                }
                .read-or-hide{
                    font-weight: 500;
                    cursor: pointer;
                    color: $secondaryColor;
                    &:hover{
                        color: $secondaryColorDarker;
                    }
                }
            }

            .MovieReviews-review-content-buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 6%;

                .MovieReviews-button-remove{
                    color: rgb(240, 32, 32);
                    margin: 20px 0;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }

                .MovieReviews-button-edit{
                    color: rgb(21, 21, 126);
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }




                .MovieReviews-buttons-like-container{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    align-items: center;
                    >div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .MovieReviews-like-container-button{
                        opacity: 0.5;
                        &:hover{
                            opacity: 1;
                            color: $primaryColor;
                            cursor: pointer;
                            transform: scale(1.1);
                        }
                    }

                    .MovieReviews-liked-container-button{
                        opacity: 1;
                        color: $primaryColor;
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                    
                    
                    span{
                        font-weight: 500;
                    }
                }
            }
        }
    }
}



//DARK MODE
.MovieReviews-add-review-card-dark{
    textarea{
        color: white;
        -webkit-box-shadow: inset 0px 0px 6px -2px rgba(107, 107, 107, 0.4);
        -moz-box-shadow: inset 0px 0px 6px -2px rgba(107, 107, 107, 0.4);
        box-shadow: inset 0px 0px 6px -2px rgba(107, 107, 107, 0.4);
    }
}




@media (max-width: 1200px) {
    .MovieReviews{
        width: 90%;
    }

}

@media (max-width: 768px) {
    .MovieReviews{
        width: 99%;
        .MovieReviews-review-card{
            .MovieReviews-review-card-container{
                margin-top: 15px;
                .MovieReviews-review-card-profile{
                    width: 15%;
                    display: flex;
                    align-items: flex-start;
                    // justify-content: center;
                    margin-top: 10px;
                }

                .MovieReviews-review-card-content{
                    .MovieReviews-review-content-user{
                        margin-bottom: 5px;
                        font-size: 16px;
                    }
                    .MovieReviews-review-content-body{
                        font-size: 14px;
                    }
                }
            }
        }
    }

}