@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka+One&family=Righteous&display=swap');

$primaryColor: #784BA0;
$primaryColorLighter: #a45bc1;
$secondaryColor: #2B86C5;
$secondaryColorDarker: #154c74;
$secondaryColorLighter: #62baf8;
$darkModeColor: rgb(20, 20, 20);

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a { 
    text-decoration: none;
}

// a:hover {
//     text-decoration: none;
//     cursor: pointer;
// }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}
